*.egg
*.egg-info/
*.log
*.mo
*.pot
*.py[cod]
*.so
*~
.cache
.coverage
.DS_Store
.idea/
.installed.cfg
.mr.developer.cfg
.mypy_cache/
.project
.pydevproject
.pytest_cache/
.Python
.python-version
.ropeproject
.tox/
.venv/
.vscode/
/target
__pycache__/
bin/
build/
coverage.xml
develop-eggs/
dist/
docs/_build/
eggs/
env/
htmlcov/
include/
lib/
lib64/
man/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json
pnpm-lock.yaml
scratch/
sdist/
target/
var/
venv/
