target-version = "py311"
line-length = 88
preview = true
include = [
  "python/**/*.{py,pyi}",
  "scripts/**/*.py",
  "tests/**/*.{py,pyi}",
  "bench/**/*.{py,pyi}",
  "examples/**/*.{py,pyi}",
  "docs/ryo3_version.py",
]
extend-exclude = [".purgatory/**/*.py"]

format.docstring-code-format = true

[lint]
task-tags = [
  # defaults
  "TODO",
  "FIXME",
  "XXX",
  # typos
  "typos",
]
select = [
  "A",
  "ARG",
  "B",
  "C",
  "DTZ",
  "E",
  "ERA001",
  "PT",      # pytest
  "PYI",
  "EM",
  "F",
  "FA",
  "FBT",
  "I",
  "ICN",
  "N",
  "PIE",
  "PLC",
  "PLC2801",
  "PLE",
  "PLR",
  "PLW",
  "Q",
  "RUF",
  "S",
  "T",
  "TC",
  "TID",
  "UP",
  "W",
  "YTT",
]
ignore = [
  "E501", # line length
  # "FBT003",  # boolean-positional-value-in-call
  "PLR2004", # magic values (super dumb rule)
  "PYI053",  #
  "PYI021",  # docstring-in-stub

  # pytest rules to ignore (tmp)
  "PT007", # pytest-parametrize-values-wrong-type
  "PT011", # pytest-raises-too-broad
]
preview = true
pydocstyle.convention = "google"
# Require explicit selection of preview rules.
explicit-preview-rules = true
exclude = [
  ".bzr",
  ".direnv",
  ".eggs",
  ".git",
  ".git-rewrite",
  ".hg",
  ".mypy_cache",
  ".nox",
  ".pants.d",
  ".pytype",
  ".ruff_cache",
  ".svn",
  ".tox",
  ".venv",
  "__pypackages__",
  "_build",
  "buck-out",
  "build",
  "dist",
  "node_modules",
  "venv",
]

unfixable = []
flake8-tidy-imports.ban-relative-imports = "all"
isort.known-first-party = ["ry"]
flake8-boolean-trap.extend-allowed-calls = [
  "pydantic.Field",
  "hypothesis.assume",
]

[lint.per-file-ignores]
"python/ry/**/*.pyi" = [
  "COM",
  "D",
  "PYI021",
  "ANN401",
  "E501",
  "FIX002",
  "ASYNC109",
  "TD",
]
"python/ry/**/*.py" = [
  "COM812", # missing-trailing-comma
  "E501",   # line-too-long
  "D100",   # undocumented-public-module
  "D101",   # undocumented-public-class
  "D102",   # undocumented-public-method
  "D104",   # undocumented-public-package
  "D105",   # undocumented-magic-method
  "D106",   # undocumented-public-nested-class
  "D107",   # undocumented-public-init
  "D200",   # unnecessary-multiline-docstring
  "D205",   # missing-blank-line-after-summary
  "D212",   # multi-line-summary-first-line
  "D301",   # escape-sequence-in-docstring
  "D403",   # first-word-uncapitalized
  "D415",   # missing-terminal-punctuation
  "D417",   # undocumented-param
  "D418",   # overload-with-docstring
  "TRY",
  "SLF",
  "PTH",
  # "PYI021",
  # "ANN401",
  # "E501",
  # "FIX",
  # "ASYNC109",
  # "TD",
  # "D102",
]
"python/ry/JSON.pyi" = ["N999"]
# Tests can use magic values, assertions, and relative imports
"bench/**/*.py" = [
  "B011",
  "DTZ001",
  "PL",
  "S101",
  "S103",
  "S307",
  "S603",
  "T201",
  "TID252",
]
"tests/**/*.py" = [
  "PTH",     # pathlib (im an old dog and like my os.path)
  "D102",    # undocumented-public-method
  "D103",    # undocumented-public-function
  "DTZ001",  # call-datetime-without-tzinfo
  "PLC0415", # import-outside-top-level
  "PLR0124", # comparison-with-itself
  "PLR0911", # too-many-return-statements
  "PLW1510", # subprocess-run-without-check
  "S101",    # assert
  "S103",    # bad-file-permissions
  "S301",    # suspicious-pickle-usage
  "S307",    # suspicious-eval-usage
  "S603",    # subprocess-without-shell-equals-true
  "TID252",  # relative-imports
  # --- with `--select ALL` ---
  "ANN401",   # any-type
  "ASYNC230", # blocking-open-call-in-async-function
  "COM812",   # missing-trailing-comma
  "D100",     # undocumented-public-module
  "D101",     # undocumented-public-class
  "D104",     # undocumented-public-package
  "D105",     # undocumented-magic-method
  "D106",     # undocumented-public-nested-class
  "D107",     # undocumented-public-init
  "D200",     # unnecessary-multiline-docstring
  "D205",     # missing-blank-line-after-summary
  "D212",     # multi-line-summary-first-line
  "D301",     # escape-sequence-in-docstring
  "D403",     # first-word-uncapitalized
  "D415",     # missing-terminal-punctuation
  "D417",     # undocumented-param
  "D418",     # overload-with-docstring
  "E501",     # line-too-long
  "FIX002",   # line-contains-todo
  "PGH003",   # blanket-type-ignore
  "PLR2004",  # magic-value-comparison
  "PT007",    # pytest-parametrize-values-wrong-type
  "PT011",    # pytest-raises-too-broad
  "RET505",   # superfluous-else-return
  "RUF100",   # unused-noqa
  "SIM105",   # suppressible-exception
  "SIM117",   # multiple-with-statements
  "SIM201", # negate-equal-op
  "SIM202", # negate-not-equal-op
  "SIM300", # yoda-conditions
  "SLF001", # private-member-access
  "TD002",  # missing-todo-author
  "TD003",  # missing-todo-link
]
"tests/reqwest/conftest.py" = ["ARG001"]
"python/ry/dev/*.py" = ["PLC0415"]
"python/ry/ryo3/*.pyi" = ["F401", "F821"]
"scripts/**" = [
  "S101",
  "S603",
  "T201",
  # groups
  "D",
  "PTH",
  "RET",
  "COM",
  "PERF",
  "PLR",
  "INP",
  "ANN",
  "FIX",
  "TD",
  "PGH",
  "SIM",
  "TRY",
]
