target-version = "py311"
line-length = 88
preview = true
include = [
  "python/**/*.{py,pyi}",
  "scripts/**/*.py",
  "tests/**/*.{py,pyi}",
  "bench/**/*.{py,pyi}",
  "examples/**/*.{py,pyi}",
  "docs/ryo3_version.py",
]
extend-exclude = [".purgatory/**/*.py"]

format.docstring-code-format = true

[lint]
task-tags = [
  # defaults
  "TODO",
  "FIXME",
  "XXX",
  # typos
  "typos",
]
select = [
  "A",
  "ARG",
  "B",
  "C",
  "DTZ",
  "E",
  "ERA001",
  "PYI",
  "EM",
  "F",
  "FA",
  "FBT",
  "I",
  "ICN",
  "N",
  "PLC",
  "PLC2801",
  "PLE",
  "PLR",
  "PLW",
  "Q",
  "RUF",
  # "RUF022", # unsorted-dunder-all
  "S",
  "T",
  "TC",
  "TID",
  "UP",
  "W",
  "YTT",
]
ignore = [
  "E501",    # line length
  # "FBT003",  # boolean-positional-value-in-call
  "PLR2004", # magic values (super dumb rule)
  "PYI053", #
  "PYI021",  # docstring-in-stub
]
preview = true
pydocstyle.convention = "google"
# Require explicit selection of preview rules.
explicit-preview-rules = true
exclude = [
  ".bzr",
  ".direnv",
  ".eggs",
  ".git",
  ".git-rewrite",
  ".hg",
  ".mypy_cache",
  ".nox",
  ".pants.d",
  ".pytype",
  ".ruff_cache",
  ".svn",
  ".tox",
  ".venv",
  "__pypackages__",
  "_build",
  "buck-out",
  "build",
  "dist",
  "node_modules",
  "venv",
]

unfixable = []
flake8-tidy-imports.ban-relative-imports = "all"
isort.known-first-party = ["ry"]
flake8-boolean-trap.extend-allowed-calls = [
  "pydantic.Field",
  "hypothesis.assume",
]

[lint.per-file-ignores]
"python/ry/JSON.pyi" = ["N999"]
# Tests can use magic values, assertions, and relative imports
"bench/**/*.py" = [
  "B011",
  "DTZ001",
  "PL",
  "S101",
  "S103",
  "S307",
  "S603",
  "T201",
  "TID252",
]
"tests/**/*.py" = [
  "DTZ001",   # call-datetime-without-tzinfo
  "PLC0415",  # import-outside-top-level
  "PLR0124",  # comparison-with-itself
  "PLR0911",  # too-many-return-statements
  "PLW1510",  # subprocess-run-without-check
  "S101",     # assert
  "S103",     # bad-file-permissions
  "S301",     # suspicious-pickle-usage
  "S307",     # suspicious-eval-usage
  "S603",     # subprocess-without-shell-equals-true
  "TID252",   # relative-imports
]
"tests/reqwest/conftest.py" = ["ARG001"]
"python/ry/dev/*.py" = ["PLC0415"]
"python/ry/ryo3/*.pyi" = ["F401", "F821"]
"scripts/**" = ["S101", "S603", "T201"]
