[package]
name = "ryo3-url"
version.workspace = true
authors.workspace = true
categories.workspace = true
documentation.workspace = true
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
description = "ryo3 + url (https://docs.rs/url/latest/url/)"

[dependencies]
pyo3 = { workspace = true, features = [] }
ryo3-macro-rules.workspace = true
ryo3-pydantic = { workspace = true, optional = true }
ryo3-std = {workspace = true, features = ["net"], optional = true }
serde = { workspace = true, features = ["derive"], optional = true }
url = { workspace = true }

[features]
default = []
ry = [
  "serde",
  "ryo3-std",
  "pydantic",
]
serde = [
  "dep:serde",
  "url/serde",
]
pydantic = [
  "serde",
  "ryo3-pydantic"
]

[lints]
workspace = true
