[package]
name = "ryo3"
version.workspace = true
edition.workspace = true

[build-dependencies]
jiff.workspace = true

[dependencies]
dirs.workspace = true
pyo3 = { workspace = true, features = ["experimental-inspect", "num-bigint"] }
regex.workspace = true
serde.workspace = true
serde_bytes.workspace = true
serde_json.workspace = true
tokio.workspace = true
tracing.workspace = true

# required ryo3-* dependencies
ryo3-std = { path = "../ryo3-std" }
# optional ryo3-* dependencies
ryo3-sqlformat = { path = "../ryo3-sqlformat", optional = true }
ryo3-jiff = { path = "../ryo3-jiff", optional = true }

# optional
brotli = { version = "7.0.0", optional = true }
bzip2 = { version = "0.4.4", optional = true }
flate2 = { version = "1.0.34", optional = true }
fnv = { version = "1.0.7", optional = true }
globset = { version = "0.4.15", optional = true, features = ["serde"] }
jiter = { workspace = true, features = ["python"], optional = true }
shlex = { workspace = true, optional = true }
walkdir = { workspace = true, optional = true }
which = { workspace = true, features = ["regex"], optional = true }
xxhash-rust = { version = "0.8.12", features = ["const_xxh3", "const_xxh32", "const_xxh64", "xxh3", "xxh32", "xxh64"], optional = true }
zstd = { version = "0.13.2", optional = true }


[features]
default = [
  "which",
  "shlex",
  "jiter",
]
all = [
  "sqlformat",
  "brotli",
  "bzip2",
  "flate2",
  "jiff",
  "fnv",
  "globset",
  "jiter",
  "shlex",
  "walkdir",
  "which",
  "xxhash",
  "zstd",
]
brotli = ["dep:brotli"]
bzip2 = ["dep:bzip2"]
flate2 = ["dep:flate2"]
fnv = ["dep:fnv"]
globset = ["dep:globset"]
jiter = ["dep:jiter"]
shlex = ["dep:shlex"]
walkdir = ["dep:walkdir"]
which = ["dep:which"]
xxhash = ["dep:xxhash-rust"]
zstd = ["dep:zstd"]
sqlformat = ["dep:ryo3-sqlformat"]
jiff = ["dep:ryo3-jiff"]
