[package]
name = "ryo3"
version.workspace = true
edition.workspace = true
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html


[build-dependencies]
chrono.workspace = true

[dependencies]
brotli = { version = "5.0.0", optional = true }
dirs.workspace = true
fnv = "1.0.7"
jiter = { version = "0.0.6", features = ["python"], optional = true }
pyo3 = { workspace = true, features = ["experimental-inspect"] }
pyo3-asyncio = { workspace = true, features = ["attributes", "tokio-runtime"] }
regex.workspace = true
serde.workspace = true
serde_bytes.workspace = true
serde_json.workspace = true
shlex.workspace = true
tokio.workspace = true
tracing.workspace = true
walkdir.workspace = true
which = { workspace = true, features = ["regex"] }

[features]
all = ["brotli", "jiter"]
jiter = ["dep:jiter"]
brotli = ["dep:brotli"]
