[package]
name = "ryo3"
version.workspace = true
edition.workspace = true

[build-dependencies]
jiff.workspace = true

#[lints]
#workspace = true

[dependencies]
pyo3 = { workspace = true, features = ["experimental-inspect", "experimental-async", "num-bigint"] }
regex.workspace = true
serde.workspace = true
serde_bytes.workspace = true
serde_json.workspace = true
tokio.workspace = true
tracing.workspace = true
pyo3-async-runtimes = { version = "0.23", features = ["attributes", "tokio-runtime"] }

# ryo3 dev module(s)
ryo3-dev = { workspace = true, optional = false }
ryo3-quick-maths.workspace = true

# required ryo3-* dependencies
ryo3-types = { workspace = true }
ryo3-std = { workspace = true }
ryo3-fspath = { workspace = true }
# optional ryo3-* dependencies
ryo3-brotli = { workspace = true, optional = true }
ryo3-bzip2 = { workspace = true, optional = true }
ryo3-dirs = { workspace = true, optional = true }
ryo3-flate2 = { workspace = true, optional = true }
ryo3-http = { workspace = true, optional = true }
ryo3-fnv = { workspace = true, optional = true }
ryo3-globset = { workspace = true, optional = true }
ryo3-heck = { workspace = true, optional = true }
ryo3-jiff = { workspace = true, optional = true }
ryo3-jiter = { workspace = true, optional = true }
ryo3-regex = { workspace = true, optional = true }
ryo3-reqwest = { workspace = true, optional = true }
ryo3-shlex = { workspace = true, optional = true }
ryo3-sqlformat = { workspace = true, optional = true }
ryo3-unindent = { workspace = true, optional = true }
ryo3-url = { workspace = true, optional = true }
ryo3-walkdir = { workspace = true, optional = true }
ryo3-which = { workspace = true, optional = true }
ryo3-xxhash = { workspace = true, optional = true }
ryo3-zstd = { workspace = true, optional = true }
ryo3-macros.workspace = true
#ryo3-fspath.workspace = true

[features]
default = ["shlex", "jiter"]
all = [
  "brotli",
  "bzip2",
  "dirs",
  "flate2",
  "fnv",
  "globset",
  "heck",
  "http",
  "jiff",
  "jiter",
  "regex",
  "reqwest",
  "shlex",
  "sqlformat",
  "unindent",
  "url",
  "walkdir",
  "which",
  "xxhash",
  "zstd",
]

brotli = ["dep:ryo3-brotli"]
bzip2 = ["dep:ryo3-bzip2"]
dirs = ["dep:ryo3-dirs"]
flate2 = ["dep:ryo3-flate2"]
fnv = ["dep:ryo3-fnv"]
globset = ["dep:ryo3-globset"]
heck = ["dep:ryo3-heck"]
http = ["dep:ryo3-http"]
jiff = ["dep:ryo3-jiff"]
jiter = ["dep:ryo3-jiter"]
regex = ["dep:ryo3-regex", "ryo3-which/regex"]
reqwest = ["dep:ryo3-reqwest", "http", "url"]
shlex = ["dep:ryo3-shlex"]
sqlformat = ["dep:ryo3-sqlformat"]
unindent = ["dep:ryo3-unindent"]
url = ["dep:ryo3-url"]
walkdir = ["dep:ryo3-walkdir"]
which = ["dep:ryo3-which"]
xxhash = ["dep:ryo3-xxhash"]
zstd = ["dep:ryo3-zstd"]
