[package]
name = "ryo3"
version.workspace = true
authors.workspace = true
categories = ["api-bindings"]
documentation.workspace = true
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
description = "ry(o3) = rust & pyo3 & python"

[build-dependencies]
jiff.workspace = true
pyo3-build-config = { workspace = true }

[lints]
workspace = true

[dependencies]
pyo3 = { workspace = true, features = [] }

# ryo3 dev module(s)
ryo3-quick-maths.workspace = true

# required ryo3-* dependencies
ryo3-core = { workspace = true }
ryo3-dev = { workspace = true, optional = true }
ryo3-fspath = { workspace = true, optional = false }
ryo3-std = { workspace = true, optional = false }

# FUTURE
#ryo3-tokio-websockets = { workspace = true, optional = true }
#ryo3-ignore = { workspace = true, optional = true }
# optional ryo3-* dependencies
ryo3-brotli = { workspace = true, optional = true }
ryo3-bytes = { workspace = true, optional = true }
ryo3-bzip2 = { workspace = true, optional = true }
ryo3-dirs = { workspace = true, optional = true }
ryo3-flate2 = { workspace = true, optional = true }
ryo3-fnv = { workspace = true, optional = true }
ryo3-glob = { workspace = true, optional = true }
ryo3-globset = { workspace = true, optional = true }
ryo3-heck = { workspace = true, optional = true }
ryo3-http = { workspace = true, optional = true }
ryo3-jiff = { workspace = true, optional = true }
ryo3-jiter = { workspace = true, optional = true }
ryo3-json = { workspace = true, optional = true }
ryo3-memchr = { workspace = true, optional = true }
ryo3-regex = { workspace = true, optional = true }
ryo3-reqwest = { workspace = true, optional = true }
ryo3-same-file = { workspace = true, optional = true }
ryo3-shlex = { workspace = true, optional = true }
ryo3-size = { workspace = true, optional = true }
ryo3-sqlformat = { workspace = true, optional = true }
ryo3-tokio = { workspace = true, optional = true }
ryo3-twox-hash = { workspace = true, optional = true }
ryo3-ulid = { workspace = true, optional = true }
ryo3-unindent = { workspace = true, optional = true }
ryo3-url = { workspace = true, optional = true }
ryo3-uuid = { workspace = true, optional = true }
ryo3-walkdir = { workspace = true, optional = true }
ryo3-which = { workspace = true, optional = true }
ryo3-zstd = { workspace = true, optional = true }


[features]
default = []
all = [
  "brotli",
  "bytes",
  "bzip2",
  "dirs",
  "flate2",
  "fnv",
  "glob",
  "globset",
  "heck",
  "http",
  "jiff",
  "jiter",
  "json",
  "memchr",
  "regex",
  "reqwest",
  "same-file",
  "shlex",
  "size",
  "sqlformat",
  "tokio",
  "twox-hash",
  "ulid",
  "unindent",
  "url",
  "uuid",
  "walkdir",
  "which",
  "xxhash",
  "zstd",
]
# ry
experimental-async = [
  "pyo3/experimental-async",
  "ryo3-tokio?/experimental-async",
  "ryo3-reqwest?/experimental-async",
]
dev = ["dep:ryo3-dev"]
ry = [
  "all",
  # "experimental-async",
  "dev",
  "ryo3-bytes/ry",
  "ryo3-fnv/ry",
  "ryo3-fspath/ry",
  "ryo3-glob/ry",
  "ryo3-globset/ry",
  "ryo3-http/ry",
  "ryo3-jiff/ry",
  "ryo3-regex/ry",
  "ryo3-reqwest/ry",
  "ryo3-size/ry",
  "ryo3-sqlformat/ry",
  "ryo3-std/ry",
  "ryo3-tokio/ry",
  "ryo3-twox-hash/ry",
  "ryo3-ulid/ry",
  "ryo3-url/ry",
  "ryo3-uuid/ry",
  "ryo3-walkdir/ry",
] # `ry` uses all features

# tls provider(s)
ring = ["ryo3-reqwest/ring"]
aws-lc-rs = ["ryo3-reqwest/aws-lc-rs"]

# wrappers
brotli = ["dep:ryo3-brotli"]
bzip2 = ["dep:ryo3-bzip2"]
bytes = ["dep:ryo3-bytes"]
dirs = ["dep:ryo3-dirs"]
flate2 = ["dep:ryo3-flate2"]
fnv = ["dep:ryo3-fnv"]
glob = ["dep:ryo3-glob"]
globset = ["dep:ryo3-globset"]
heck = ["dep:ryo3-heck"]
http = ["dep:ryo3-http"]
jiff = ["dep:ryo3-jiff"]
jiter = ["dep:ryo3-jiter"]
json = ["dep:ryo3-json"]
memchr = ["dep:ryo3-memchr"]
regex = ["dep:ryo3-regex", "ryo3-which/regex"]
reqwest = ["dep:ryo3-reqwest", "http", "url", "bytes"]
same-file = ["dep:ryo3-same-file"]
shlex = ["dep:ryo3-shlex"]
size = ["dep:ryo3-size"]
sqlformat = ["dep:ryo3-sqlformat"]
tokio = ["dep:ryo3-tokio"]
ulid = ["dep:ryo3-ulid"]
unindent = ["dep:ryo3-unindent"]
url = ["dep:ryo3-url"]
uuid = ["dep:ryo3-uuid"]
walkdir = ["dep:ryo3-walkdir", "globset"]
which = ["dep:ryo3-which"]
twox-hash = ["dep:ryo3-twox-hash"]
zstd = ["dep:ryo3-zstd"]

# legacy alias for xxhash
xxhash = ["twox-hash"]

# FUTURE
# ignore = ["dep:ryo3-ignore"]
# tokio-websockets = ["dep:ryo3-tokio-websockets"]
