[package]
name = "ryo3"
version.workspace = true
edition.workspace = true

[build-dependencies]
jiff.workspace = true

#[lints]
#workspace = true

[dependencies]
dirs.workspace = true
pyo3 = { workspace = true, features = ["experimental-inspect", "num-bigint"]}
regex.workspace = true
serde.workspace = true
serde_bytes.workspace = true
serde_json.workspace = true
tokio.workspace = true
tracing.workspace = true

# ryo3 dev module(s)
ryo3-dev = { path = "../_ryo3-dev", optional = false }

# required ryo3-* dependencies
ryo3-std = { path = "../ryo3-std" }
# optional ryo3-* dependencies
ryo3-brotli = { path = "../ryo3-brotli", optional = true }
ryo3-bzip2 = { path = "../ryo3-bzip2", optional = true }
ryo3-flate2 = { path = "../ryo3-flate2", optional = true }
ryo3-fnv = { path = "../ryo3-fnv", optional = true }
ryo3-globset = { path = "../ryo3-globset", optional = true }
ryo3-jiff = { path = "../ryo3-jiff", optional = true }
ryo3-jiter = { path = "../ryo3-jiter", optional = true }
ryo3-shlex = { path = "../ryo3-shlex", optional = true }
ryo3-sqlformat = { path = "../ryo3-sqlformat", optional = true }
ryo3-which = { path = "../ryo3-which", optional = true }
ryo3-xxhash = { path = "../ryo3-xxhash", optional = true }
ryo3-zstd = { path = "../ryo3-zstd", optional = true }


# optional
walkdir = { workspace = true, optional = true }


[features]
default = [
  "shlex",
  "jiter",
]
all = [
  "sqlformat",
  "brotli",
  "bzip2",
  "flate2",
  "jiff",
  "fnv",
  "globset",
  "jiter",
  "shlex",
  "walkdir",
  "which",
  "xxhash",
  "zstd",
]

brotli = ["dep:ryo3-brotli"]
bzip2 = ["dep:ryo3-bzip2"]
flate2 = ["dep:ryo3-flate2"]
fnv = ["dep:ryo3-fnv"]
globset = ["dep:ryo3-globset"]
jiff = ["dep:ryo3-jiff"]
jiter = ["dep:ryo3-jiter"]
shlex = ["dep:ryo3-shlex"]
sqlformat = ["dep:ryo3-sqlformat"]
walkdir = ["dep:walkdir"]
which = ["dep:ryo3-which"]
xxhash = ["dep:ryo3-xxhash"]
zstd = ["dep:ryo3-zstd"]
