[package]
name = "ryo3-which"
version.workspace = true
authors.workspace = true
categories.workspace = true
documentation.workspace = true
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
description = "python + which-rs (https://github.com/harryfei/which-rs)"

[dependencies]
pyo3 = { workspace = true, features = [] }
ryo3-regex = { workspace = true, optional = true }
which = { workspace = true, features = ["real-sys"] }

[lints]
workspace = true

[features]
default = ["dep:ryo3-regex", "which/regex"]
regex = ["dep:ryo3-regex", "which/regex"]
tracing = ["which/tracing"]
