name: dev

on:
  push:
    branches:
      - '*'
      - '*/*'
      - '**'
      - '!main'
      - '!master'
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  dev-test-linux-x86_64:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        target: [ x86_64 ]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release --out dist --find-interpreter
          sccache: 'true'
#          manylinux: auto
      - name: pytest
        if: ${{ startsWith(matrix.target, 'x86_64') }}
        shell: bash
        run: |
          set -e
          pip install ry --find-links dist --force-reinstall
          pip install -r requirements.dev.txt
          pip install pytest
          pytest
